.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;
}
.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 4px solid;
    border-image: linear-gradient(264deg, rgb(102, 211, 233) -5.09%, rgb(231, 122, 26) 106.28%) ;
    border-image-slice: 1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.mywork-container img{
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    width: 320px;
    height: 220px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-format{
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid aqua;
}
.mywork-format h4{
    text-align: center;
    margin-top: 10px;

}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid white;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer; 
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    border-color: aqua;
}




@media(max-width:678px){
    .mywork{
   
    margin-top: 10px;
}
.mywork-title h1{
    margin-top: 10px;
    font-size: 30px;
    border-bottom: 3px solid;
   
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.mywork-container img{
    box-sizing: border-box;
    border-radius: 10px;
    width: 160px;
    height: 100px;
   
}

.mywork-format h4{
    text-align: center;
    margin-top: 8px;

}
.mywork-container img:hover{
    transform: scale(.9);
    border: 2px solid white;
    
}
.mywork-showmore{
    display: flex;
    gap: 5px;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 10px;
    transition: 0.6s;
    cursor: pointer; 
}

}